<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
  <title>imageserver</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fox.css') }}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <nav>
    <strong>imageserver</strong>
    <a href="{{ url_for('route_images') }}">images</a>
    <div class="nav-after">
      {% block navafter %}
        <em>What's in your wallet?</em>
      {% endblock %}
    </div>
  </nav>
  {% block content %}
  {% endblock %}
</body>
</html>
